<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }}</title>
    <link href={{ "css/default.css" | absURL}} rel="stylesheet" type="text/css">
    <script type="text/javascript" src={{ "js/processing.js" | absURL}}></script>
</head>
<body>
    <div class="background">
        <canvas data-processing-sources={{ "pde/background.pde" | absURL}}></canvas>
    </div>
    <div class="title">
            <a>{{ .Site.Params.text }}</a>
    </div>
    <!--<img src={{ "images/LCHSTSA.png" | absURL }}>-->
</body>
</html>